[submodule "src/chrono_thirdparty/googletest"]
	path = src/chrono_thirdparty/googletest
	url = https://github.com/google/googletest.git
[submodule "src/chrono_thirdparty/googlebenchmark"]
	path = src/chrono_thirdparty/googlebenchmark
	url = https://github.com/google/benchmark.git
[submodule "src/chrono_thirdparty/flatbuffers"]
	path = src/chrono_thirdparty/flatbuffers
	url = https://github.com/google/flatbuffers.git
[submodule "src/chrono_thirdparty/chpf"]
	path = src/chrono_thirdparty/chpf
	url = https://gitlab.com/uwsbel/chpf.git
[submodule "src/chrono_thirdparty/cub"]
	path = src/chrono_thirdparty/cub
	url = https://github.com/NVIDIA/cub.git
[submodule "src/chrono_thirdparty/DEM-Engine"]
	path = src/chrono_thirdparty/DEM-Engine
	url = https://github.com/projectchrono/DEM-Engine
	branch = main
