---
layout: default
---

<div class="row">
  <div class="jumbotron">
   <div class="text-center"> 
    <!--<p><img src="/images/project_chrono_logo.png" alt="project_chrono_logo" height="150"></p>-->
    <h1>
      {% include module.html first="PROJECT" second="CHRONO" %}
    </h1>
    <p> An Open Source Multibody Dynamics Physics Engine</p>
  </div>
  <div class="text-center"> 
   <p>
    <a href="/download"<button type="button" class="btn btn-primary btn-lg"> <i class="fa fa-download fa-1x"></i> Download </button></a>
    <a href="https://github.com/projectchrono/chrono"<button type="button" class="btn btn-default btn-lg"> <i class="fa fa-github-square fa-1x"></i> View on Github </button></a>
  </p>
</div>
</div>

<div class="text-center"> 
  <h1 href="#"><strong>Getting Started</strong></h1>
</div>

<hr>

<div class="text-center">
  <div class="row">
    <div class="col-md-4">
    <h3><a href="/download"<button type="button" class="btn btn-success btn-lg"> <i class="fa fa-map fa-1x"></i> Installation Guide </button></a></h3>
      <p> Installation guide for Windows and Linux</p>
    </div>
    <div class="col-md-4">
    <h3><a href="/download"<button type="button" class="btn btn-success btn-lg"> <i class="fa fa-book fa-1x"></i> Documentation </button></a></h3>
      <p> Source code documentation for Project Chrono</p>
    </div>
    <div class="col-md-4">
    <h3><a href="/download"<button type="button" class="btn btn-success btn-lg"> <i class="fa fa-server fa-1x"></i> Tutorials & Examples </button></a></h3>
      <p> Example models and Tutorials to get you started with {% include module.html first="PROJECT" second="CHRONO" %}, they represent a good starting point to learn programming with this multibody library.
      </p>
    </div>
  </div>
</div>

<div class="text-center"> 
  <h1 href="#"><strong>Simulated Using</strong> {% include module.html first="PROJECT" second="CHRONO" %}</h1>
  <hr>

</div> 