<footer class="site-footer">

  <div class="container">
      <p>&copy; 2016 Project Chrono</p>
  </div>

</footer>

<script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.11.3.min.js"><\/script>')</script>

<script src="/js/vendor/bootstrap.min.js"></script>
<script src="/js/vendor/bootstrap-hover-dropdown.min.js"></script>
<script src="/js/main.js"></script>
<script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML'></script>