---
layout: default
---

<div class="row">
	<div class="jumbotron">
		<div class="text-center"> 
			<!--<p><img src="/images/project_chrono_logo.png" alt="project_chrono_logo" height="150"></p>-->
			<h1>
				{% include module.html first="PROJECT" second="CHRONO" %}
			</h1>
			<p> An Open Source Multi-physics Simulation Engine</p>
		</div>

		<div class="text-center"> 
			<div class="row">
				<div class="col-sm-3">
					<h6><a href="/download"<button type="button" class="btn btn-primary btn-lg"> <i class="fa fa-download fa-1x"></i> Download </button></a></h6>
				</div>
				<div class="col-sm-3">
					<h6><a href="http://api.chrono.projectchrono.org"<button type="button" class="btn btn-success btn-lg"> <i class="fa fa-map fa-1x"></i> Documentation </button></a></h6>
				</div>
				<div class="col-sm-3">
					<h6><a href="/consulting"<button type="button" class="btn btn-warning btn-lg"> <i class="fa fa-users fa-1x"></i> Consulting </button></a></h6>
				</div>
				<div class="col-sm-3">
					<h6><a href="https://github.com/projectchrono/chrono"<button type="button" class="btn btn-default btn-lg"> <i class="fa fa-github-square fa-1x"></i> View on Github </button></a></h6>
				</div>
			</div>
		</div>
	</div>


	<div class="text-center"> 
		<h1 href="#"><strong>Simulated Using</strong> {% include module.html first="" second="CHRONO" %}</h1>
		<hr>

	</div> 

	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-example-generic" data-slide-to="1"></li>
			<li data-target="#carousel-example-generic" data-slide-to="2"></li>
			<li data-target="#carousel-example-generic" data-slide-to="3"></li>
			<li data-target="#carousel-example-generic" data-slide-to="4"></li>
			<li data-target="#carousel-example-generic" data-slide-to="5"></li>
			<li data-target="#carousel-example-generic" data-slide-to="6"></li>
			<li data-target="#carousel-example-generic" data-slide-to="7"></li>
			<li data-target="#carousel-example-generic" data-slide-to="8"></li>
			<li data-target="#carousel-example-generic" data-slide-to="9"></li>
			<li data-target="#carousel-example-generic" data-slide-to="10"></li>
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
			<div class="item active"> <img src="http://sbel.wisc.edu/assets/Images/humvee_fording_split.png"  alt="Vehicle Fording"><div class="carousel-caption"> Vehicle Fording </div></div>
			<div class="item"> <img src="http://sbel.wisc.edu/assets/Images/plow_vel_165.jpg"  alt="Tracked Vehicle Plowing"><div class="carousel-caption"> Tracked Vehicle </div></div>
			<div class="item"> <img src="http://sbel.wisc.edu/assets/Images/humvee_ditch.jpg" alt="Vehicle driving through ditch"> <div class="carousel-caption"> Vehicle Ditch </div></div>
			<div class="item"> <img src="http://sbel.wisc.edu/assets/Images/foam.jpg"  alt="Colourful extrusion of cohesive material"> <div class="carousel-caption"> Foam </div></div>
			<div class="item"> <img src="http://sbel.wisc.edu/assets/Images/2millionrover.jpg" alt="Two million rigid body rover simulation using MPI"> <div class="carousel-caption"> Rover 2 Million Bodies </div> </div>
			<div class="item"> <img src="http://sbel.wisc.edu/assets/Images/chainMail.jpg"  alt="Multiple layers of chainmail sheets"> <div class="carousel-caption"> Chainmail Sheets </div> </div>
			<div class="item"> <img src="http://sbel.wisc.edu/assets/Images/anchorCutaway.jpg"  alt="Anchor driven in granular material"> <div class="carousel-caption"> Anchoring in Poly-Disperse Granular Material </div> </div>
			<div class="item"> <img src="http://sbel.wisc.edu/assets/Images/tower_collapse1.jpg"  alt="Tower crumbles"><div class="carousel-caption">Block Tower</div></div>
			<div class="item"> <img src="http://sbel.wisc.edu/assets/Images/TrackImage.jpg"  alt="Double track simulation"><div class="carousel-caption">Double Track</div></div>
			<div class="item"> <img src="http://sbel.wisc.edu/assets/Images/Tower_Still.jpg"alt="Chrome sphere annihilates blocks"><div class="carousel-caption">Block Tower</div></div>
			<div class="item"> <img src="http://sbel.wisc.edu/assets/Images/Particle_beam.jpg" alt="Fluid-solid interaction simulation"><div class="carousel-caption">Fluid-Solid Interaction</div></div>
		</div>

		<!-- Controls -->
		<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>